body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;;
    color: black;
    font-size: 0.85em;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: rgba(181, 181, 181, 0.1);
    color: dimgrey;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.button:hover {
    color: rgba(41, 41, 41, 1);
    border: 1px solid darkgrey;
    box-shadow: 0px 0.5px 1px darkgrey;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.container {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 100vh;
    grid-template-areas: ". mn .";
}

.content {
    grid-area: mn;
    text-align: center;
    margin-top: 30vh;
}

.content img {
    height: auto;
}

.bottom-navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    border-top: 0.1px solid rgb(218, 218, 218);
}

.bottom-navbar a {
    color: dimgrey;
}

.bottom-navbar ul {
    padding: 18px 14px;
    list-style: none; 
}

.bottom-navbar ul li {
    display: inline;
    margin-left: 22px;
}